/* Footer */
footer {
    background-color: #333; /* Alt bilgi alanı arka plan rengi */
    color: white; /* Alt bilgi alanı metin rengi */
    text-align: center; /* Metni ortala */
    padding: 6px 0; /* Üst ve alt boşluk */
    position: fixed; /* Sayfada sabit kalır */
    width: 100%; /* Tam genişlik */
    bottom: 0; /* Sayfanın altına yapıştır */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Üst gölgelendirme */
}

footer p {
    margin: 0; /* Varsayılan kenar boşluklarını kaldır */
}

footer a {
    color: white; /* Alt bilgi bağlantı metin rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
    margin: 0 5px; /* Kenar boşlukları */
}

footer a:hover {
    text-decoration: underline; /* Üzerine gelince altını çizer */
}
